<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet"> {{#if showTests}}
    <link rel="stylesheet" href="/vendor/macha.css"> {{/if}}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.js"></script>
    <style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 999px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    </style>
    <title>Meadowlark Travel!</title>
</head>

<body class="container">
    <header>
        <h1>Meadowlark Travel</h1>
        {{#if flash}}
        <div class="alert alert-dismissible alert-{{flash.type}}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            <strong>{{flash.intro}}</strong>{{{flash.message}}}
        </div>
        {{/if}}
    </header>
    {{{body}}} {{{_section.jquery}}}
    <footer>{{copyrightYear}} Meadowlark Travel</footer>
</body>

</html>